.aside{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 3px;
     border-right: solid #2F3336 1px; 
     padding-right: 4rem;
     
}


.boton{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
}
.union{
    display:flex;
    flex-direction: row;

    justify-content: space-between;

}
.asideAbsolute{
    margin-left: 3rem;
}
.contenedorComponentesDinamicos{
    margin-right: 4rem;
    border-left: solid white 1px;
}
.encuadre{
    border-left: solid white 1px;
}
.botonApariencia{
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start;
}
