:root{
    
--fuenteEnlace:
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif;

}

/*
   
"TwitterChirp"
-apple-system
BlinkMacSystemFont
"Segoe UI"
Roboto
Helvetica
Arial
sans-serif
*/

.aside{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 3px;
}
.boton{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fuenteEnlace);
}
.centrarAux{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
}
.marcoprincipal{
    border-right: solid #2F3336 1px;
    border-left: solid #2F3336 1px;

}
.marco {
    margin-left: 4.5rem;
    margin-top: 4rem;
    width: 320px; /* Ancho fijo en píxeles */
  }
  
  .scroll-bar {
    max-height: 30rem;
    overflow: scroll;
    width: 320px; /* Ancho fijo en píxeles */
  }
.asideM{
    margin-right: 4rem;
    
}
.cardAnuncio{
    margin-top: 1rem;
    color: white;
    background-color:#16181C;
    border-radius: 20px;
    padding: 1rem;

}
.buscador{
   background-color: #16181C;
   height: 3rem;
  border-radius: 20px;
  border-style: none;
  color: white;   
  width: 100%;
}
.contenedorPrincipal{
    width: 50rem;
    border-right: solid #2F3336 1px;
    border-left: solid #2F3336 1px;
}

.redondeo{
    border-radius: 20px;
    margin-bottom: 1.5rem;
    width: auto;
    height: 2rem;
    transition: .2s;
}
.extencion{
    width: 100%;
}
.redondeo:hover{
    background-color: #2F3336;
}
.botonEnlace{
   background-color: #1A8CD8;
   border-radius: 20px;
   width: 40%;
   height: 2rem;
   cursor: pointer;
   transition: .2s;
}
.botonEnlace:hover{
   background-color: #1a8cd8e0;
}
.decorador{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   
}
.centrarAux a{
   display: flex;
   justify-content: center;
   align-items: center;
}
p,h2{
    font-family: var(--fuenteEnlace);
}
.exterior-tarjeta{
    border-radius: 20px;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: var(--fuenteEnlace);
    margin-top: 1.5rem;
    padding: 1rem;
    

}
.exterior-tarjeta:hover{
   background-color: #181818;
    

}
.imagen-tarjeta-dimensionar{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.textoUsuario{
    text-decoration: none;
    margin:0;
    font-family: var(--fuenteEnlace);
}
.usuario-cuenta
{
    display: flex;
    flex-direction: column;
}
.enlace-sin-decoracion {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color predeterminado del texto */
    /* Agrega otros estilos personalizados si es necesario */
}
.redondeoElemento{
    border-radius: 20px;
    background-color: #16181C;
    padding: 2px;
    font-family: var(--fuenteEnlace);
}
.eliminarDecorador{
    text-decoration: none;
    color:inherit;
}
.whatssub{
    color: white;
    transition: .2s;
    padding: 1rem;
    height: 100%;
    border-radius: 20px;
    
}
.whatssub:hover{
    background-color: #1D1F23;
    transition: .2s;
}
.eliminarmargen{
    margin: 0;
}
.decolorar{
   color: #43464d;
}
@media (max-width: 972px) { /*elimina la barra lateral cuando el tamaño es menor a cierto tamaño*/
    .marcoLateral {
        display: none;
    }
    
}
/*
@media (max-width: 968px) { 
    .header {
        position: fixed;
        width: 50rem;
        z-index: 100;
        background-color: wheat;
      }
}
*/

.header {
    position: fixed;
    width: 46.5%;
    z-index: 100;
    border-bottom: solid #2F3336 1px;
    font-family: var(--fuenteEnlace);
    top: 0; /* Mantén el encabezado en la parte superior */
  }
  
  .activacion {
    background-color: rgb(29, 155, 240);
  }
  
  .content {
    margin-top: 80px; /* Ajusta esto según la altura del encabezado */
    /* Resto de estilos para el contenido principal */
  }
  
  .opciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .agrandado {
    height: 100%;
  }
  
 .escritura{
    width: 100%;
    border-radius: 20px;
    background-color: #000000;
    border: none;
 }
 .inputPost{
    margin-left: 2rem;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color: #000000;
    color:#ffffff63 ;
    font-size: 2rem;
    border: none;
 }
  
  
  .marginar {
    margin-top: 100px; /* Agrega un margen superior al contenido sin afectar al encabezado */
  }
  .postIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .icons_betwen {
    display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 7rem;
  padding-left: 3rem;
  margin-left: 2rem;
  margin-top: 1rem;
  }
  
  .botonIcon {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
    height: 2.5rem;
    font-family: var(--fuenteEnlace);
    
  }
  
  /*
  para icons betwen
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 5rem;
  padding-left: 2rem;
  margin-left: 3rem;
  */
  /*
  para el div del boton
  margin-right: 4rem;
  */
  .encuadrar{
    margin-top:8rem ;
    border-bottom: solid #2F3336  1px ;
  }
  .iconoselector{
    border-radius: 50%;
    transform: .2s;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
  }
  .iconoselector:hover{
    background-color: #031019;
    
  }
  .publicacion{
    display:flex;
    flex-direction: row;
    color: white;
    font-size: var(--fuenteEnlace);
  }
  .redondeo_aux{
    border-radius: 50%;
  }
  .publicacion_columna{
    display: flex;
    flex-direction: row;
  }
  .cuadros{
    border-bottom: solid #2F3336  1px ;
    border-top: solid #2F3336  1px ;
    
  } 
  .opcionespublicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }